body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.center-div{
  margin: auto;
  width: 60%;
  border: 3px solid blue;
  padding: 10px;
}

.list-element {
  padding: 15px;
  /*border: 1px solid gray;*/
}
