<!DOCTYPE html>
<html class="no-js">
  <head>
  <title>craigslist: CH</title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="description" content="craigslist provides local classifieds and forums for jobs, housing, for sale, personals, services, local community, and events">

  <!--meta name="google-site-verification" content="Ie0Do80edB2EurJYj-bxqMdX7zkMjx_FnjtQp_XMFio">
  <meta name="msvalidate.01" content="3402AB8563AB1E080501C21306FE7811" /-->
  <meta name="ICBM" content="35.771900, -78.638901">
  	<meta name="twitter:card" content="preview">
  	<meta property="og:site_name" content="craigslit">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link type="text/css" rel="stylesheet" media="all" href="https://www.craigslist.org/styles/cl.css?v=f2b739aac0ce30a61818c1630276321d">
  <link href="../public/stylesheets/style.css" rel="stylesheet">

  <link type="text/css" rel="stylesheet" media="all" href="https://www.craigslist.org/styles/homepage.css?v=dcfbe053aaf12ea02fc380ffc5dfe58d">
  <link type="text/css" rel="stylesheet" media="all" href="https://www.craigslist.org/styles/jquery-ui-clcustom.css?v=3b05ddffb7c7f5b62066deff2dda9339">
  <link rel="prefetch" href="https://www.craigslist.org/js/search-concat.min.js?v=c9fa94548a136143f2b7cd5c0247e0ce">

  <script src="uploadPicture.js" type="text/javascript" ></script>


  </head>
    <script>
        $(document).ready(function(){
            $.ajax({
                type: 'GET',
                crossDomain: true,
                url: "http://localhost:3000/getPost",
                success: function(result){
                    $("#container").html("");
                    for(var i = 0; i < result.length;i++){
                        var obj = result[i].img.data;
                        var img = "data:image/jpeg;base64,"+obj.slice(0, -1);
                        $("#container").append("<img class='picture'src='"+img+"'/>");
                    }
                }});
        });
        function getPost(cat){
            console.log("CATEGORY="+ cat)
            $.ajax({
                type: 'GET',
                crossDomain: true,
                url: "http://localhost:3000/getPost?category="+cat,
                success: function(result){
                    $("#container").empty();
                    $("#container").html("");
                    for(var i = 0; i < result.length;i++){
                        var obj = result[i].img.data;
                        var img = "data:image/jpeg;base64,"+obj.slice(0, -1);
                        $("#container").append("<img class='picture'src='"+img+"'/>");
                    }
                }
            });
        }
    </script>


<body class="homepage en">
<script type="text/javascript"><!--
    function C(k){return(document.cookie.match('(^|; )'+k+'=([^;]*)')||0)[2]}
    var pagetype, pagemode;
    (function(){
        var h = document.documentElement;
        h.className = h.className.replace('no-js', 'js');
        var b = document.body;
        var bodyClassList = b.className.split(/\s+/);;
        pagetype = bodyClassList[0]; // dangerous assumption
        var fmt = C('cl_fmt');
        if ( fmt === 'regular' || fmt === 'mobile' ) {
            pagemode = fmt;
        } else if (screen.width <= 480) {
            pagemode = 'mobile';
        } else {
            pagemode = 'regular';
        }
        pagemode = pagemode === 'mobile' ? 'mobile' : 'desktop';
        bodyClassList.push(pagemode);
        if (C('hidesearch') === '1' && pagemode !== 'mobile') {
            bodyClassList.push('hide-search');
        }
        var width = window.innerWidth || document.documentElement.clientWidth;
        if (width > 1000) { bodyClassList.push('w1024'); }
        if (typeof window.sectionBase !== 'undefined') {
            var mode = (decodeURIComponent(C('cl_tocmode') || '').match(new RegExp(window.sectionBase + ':([^,]+)', 'i')) || {})[1] || window.defaultView;
            if (mode) {
                bodyClassList.push(mode);
            }
        }
        b.className = bodyClassList.join(' ');
    }());
--></script>

  <div>
    <section class="page-container">
      <nav id="topban" class="regular">
          <div class="regular-area">
              <h2 class="area">chapel hill</h2>
          </div>
      </nav>
  </div>
  <div class="center-div">
      <form id="entry" action="">
          <div class="row">
            <input id="title" type="text" maxlength="70" placeholder="posting title">
          </div>
          <div class="row">
              <input id="price" placeholder="price">
          </div>

          <input type="text" id="email" name="contact" value="email">
          <input type="text" id="phone" name="contact" value="phone">

          <br>
          <br>
          <textarea class="req" tabindex="1" rows="20" cols="40" id="PostingBody" name="PostingBody" placeholder="posting body"></textarea>
          <br>
          <input type="file" id="upload" accept="image/jpeg">
          <button onclick="getJpg()">Submit</button>
      </form>
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
    //image.data, img.contenttype title, expiration date, upload date

    // function myFunction() {
    //     var x = document.createElement("Input");
    //     x.setAttribute("type", "file");
    //     x.setAttribute("id", "upload");
    //     x.setAttribute("accept", "image/jpeg");
    //     x.setAttribute("onchange", "getJpg()");
    //     document.body.appendChild(x);
    // }

    function getJpg(){
    	var upload = document.getElementById("upload");
      if ('files' in upload) { //has name, type, and size
          if (upload.files.length == 0) {
              alert("Choose one or more files");
          } else {
              for (var i = 0; i < upload.files.length; i++) {
                var file = upload.files[i];
                //console.log('file yo', file)
                var reader = new FileReader();
                reader.readAsDataURL(file);
                reader.onload = function(){
                  var result = reader.result.replace("data:"+ file.type +";base64,", '');
                  console.log("yo~~~~~\n", result);
                  savePost(result);
                };
              }
          }
      }
      else {
          if (upload.value == "") {
              alert("Select one or more files.");
          } else {
              alert("The files property is not supported by your browser!");
          }
      }
    }

    // function({ img, name, title }) {
    //   console.log(img)
    // }
    //
    // function(dataObject)

    //called inside getJpg
    function savePost(dataObject){
      let title = $("#title").val()
      let description = $('#PostingBody').val()
      let email = $('#email').val()
      let phone = $('#phone').val()
      // title: request.body.title ,
    // description: request.body.description ,
    // email: request.body.email,
    // phone: request.body.phone

      $.ajax({
          method: 'POST',
          url: "http://localhost:3000/savePost",
          contentType: 'application/json',
          data: JSON.stringify({img: dataObject, title, description, email, phone}),
          crossDomain: true,
          dataType: 'json',
          //dataType: 'json',
          success: function(data) {
            console.log("post saved~ ", data);
          },
          error: function(err){
            console.log("couldn't save post", err);
          }
    	})
    };
    </script>
  </body>
</html>
