
<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>craigslist</title>

        <meta name="description" content="raleigh pets  - craigslist">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <link rel="canonical" href="https://raleigh.craigslist.org/search/pet">
        <link rel="alternate" type="application/rss+xml" href="https://raleigh.craigslist.org/search/pet?format=rss" title="RSS feed for craigslist | raleigh pets  - craigslist">
          <link rel="next" href="https://raleigh.craigslist.org/search/pet?s=120">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/cl.css?v=f2b739aac0ce30a61818c1630276321d">
        <link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/search.css?v=c44c231dbc270469197515799aee6b3c">
        <link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/jquery-ui-clcustom.css?v=3b05ddffb7c7f5b62066deff2dda9339">
        <link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/leaflet.css?v=a3659216b188171f9645f20cd0b4e60e">
        <link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/MarkerCluster.css?v=9bea97021e746649c6837e95dd9723e8">
        <link type="text/css" rel="stylesheet" media="all" href="//www.craigslist.org/styles/tocsmaps.css?v=d3ac18e00752d21e15dc93be93a12756">
				<link href="../public/stylesheets/style.css" rel="stylesheet">

    </head>

    <body class="search has-map en">
        <script type="text/javascript"><!--
        function C(k){return(document.cookie.match('(^|; )'+k+'=([^;]*)')||0)[2]}
        var pagetype, pagemode;
        (function(){
            var h = document.documentElement;
            h.className = h.className.replace('no-js', 'js');
            var b = document.body;
            var bodyClassList = b.className.split(/\s+/);;
            pagetype = bodyClassList[0]; // dangerous assumption
            var fmt = C('cl_fmt');
            if ( fmt === 'regular' || fmt === 'mobile' ) {
                pagemode = fmt;
            } else if (screen.width <= 480) {
                pagemode = 'mobile';
            } else {
                pagemode = 'regular';
            }
            pagemode = pagemode === 'mobile' ? 'mobile' : 'desktop';
            bodyClassList.push(pagemode);
            if (C('hidesearch') === '1' && pagemode !== 'mobile') {
                bodyClassList.push('hide-search');
            }
            var width = window.innerWidth || document.documentElement.clientWidth;
            if (width > 1000) { bodyClassList.push('w1024'); }
            if (typeof window.sectionBase !== 'undefined') {
                var mode = (decodeURIComponent(C('cl_tocmode') || '').match(new RegExp(window.sectionBase + ':([^,]+)', 'i')) || {})[1] || window.defaultView;
                if (mode) {
                    bodyClassList.push(mode);
                }
            }
            b.className = bodyClassList.join(' ');
        }());
    -->
        </script>


    <section class="page-container" id="page-top">
        <div class="bglogo"></div>
        <header class="global-header wide">
            <a class="header-logo" name="logoLink" href="/">CL</a>
        </header>

        <header class="global-header narrow">
           <a class="header-logo" href="/">CL</a>
            <nav class="breadcrumbs-container">
                <ul class="breadcrumbs">
                chapel hill           &gt;
                </ul>
            </nav>
        </header>

	<!-- { uploadDate: 2018-04-17T23:34:49.269Z,
    _id: 5ad68499f0db57106276c153,
    title: 'asd',
    description: 'asd',
    email: 'email',
    phone: 'phone',
    __v: 0 }, -->
	<ul class="people_list">
	  {{#each postsArray}}
	    <li class="list-element"><a href="/entry/{{this._id}}"> {{this.title}} | {{this.description}}</a></li>
	  {{/each}}
	</ul>



	    <footer>
	        <ul class="clfooter">
	            <li>&copy;  <span class="desktop">craigslist</span><span class="mobile">CL</span></li>
	            <li><a href="https://www.craigslist.org/about/help/">help</a></li>
	            <li><a href="https://www.craigslist.org/about/scams">safety</a></li>
	            <li class="desktop"><a href="https://www.craigslist.org/about/privacy.policy">privacy</a></li>
	            <li class="desktop"><a href="https://forums.craigslist.org/?forumID=8">feedback</a></li>
	            <li class="desktop"><a href="https://www.craigslist.org/about/craigslist_is_hiring">cl jobs</a></li>
	            <li><a href="//www.craigslist.org/about/terms.of.use.en">terms</a><sup class="neu">new</sup></li>
	            <li><a href="https://www.craigslist.org/about/">about</a></li>
	            <li class="fsel desktop linklike" data-mode="mobile">mobile</li>
	            <li class="fsel mobile linklike" data-mode="regular">desktop</li>
	        </ul>
	    </footer>
	    </section>

	    <script src="//www.craigslist.org/js/general-concat.min.js?v=add23877c18964abbf775789fb49e5ae" type="text/javascript" ></script>
	    <script src="//www.craigslist.org/js/leaflet-concat.min.js?v=aca55d2d00192f2c025502eb87b34798" type="text/javascript" ></script>
	    <script src="//www.craigslist.org/js/search-concat.min.js?v=3e7f6c249c472f4727b9a867af2efea8" type="text/javascript" ></script>
	    <script src="//www.craigslist.org/js/postings-concat.min.js?v=1c6f701ac77746c798c33ff7800297a5" type="text/javascript" ></script>

	   </body>
	</html>
